*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

html {
    box-sizing: border-box;
  }

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.473),rgba(0, 0, 0, 0.5)),url('images/download.png');
  background-repeat: no-repeat;
  background-size:cover ;
  background-position: center;
  height: 100% 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 0 50px;
  }

.navbar{
    color: white;
    width: 85%;
    margin-left: auto;
    padding: 30px 0;
    display: flex;
    justify-content: right;
    margin-right: 60px;
    align-items: center;
}

.logo{
    color: white;
    position: absolute;
    top: 3%;
    left: 8%;
    width: 200px;
    max-width: 100%;
    cursor: pointer;
    display: block;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #0eac89;
    position: absolute;
    left:0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.contents{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
  }

.contents h1{
    font-size: 70px;
    margin-top: 80px;
}

.contents p{
    margin: 20px auto;
    font-weight: 100%;
    line-height: 25px;
}

#btn2{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #04f5fd80;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition: 0.5s;

}

#btn2:hover span{
    width:100%
}

#btn2:hover{
    border: none;
}

#features{
    width: 100%;
    padding: 70px 0px;
    position:absolute;
    bottom:0;
    left: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background:transparent;
    color: whitesmoke;
  }
  
  .about-section p{
    margin-top: 5px;
    font-size: smaller;
  }

  .core-value{
    padding: 50px;
    text-align: left;
    background:transparent;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20px;
  }

.core-value h1,h2{
  margin-bottom: 15px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.core-value ul li{
  margin-bottom: 10px;
  color: whitesmoke;
}

.footer{
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  color: gray;
}

#name{
  color: lightskyblue;
}

.container {
  padding: 0 16px;
  overflow: auto;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.abutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin-top: 5px;
  color: white;
  background-color: rgb(0, 195, 255);
  text-align: center;
  cursor: pointer;
  font-size: medium;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#team{
  color: whitesmoke;
}

.container p{
  color: whitesmoke;
  overflow:clip;
}

.container h2{
  color:whitesmoke;
}

#title {
  color: lightslategrey
}

.row{
  display: flex;
  justify-content: center;
}

.col{ 
  margin-right: 100px;
  margin-top: 70px;
  text-align: center;
  max-width: 700px;
  width: 60%;
  padding: 20px;
}

.col1{ 
  margin-right: 30px;
  margin-top: 70px;
  text-align: center;
  max-width: 700px;
  width:700px;
  padding: 20px;
}
  
  
.row:after {
    content: "";
    display: table;
    clear: both;
}


.col h1,h2,p{
  color:whitesmoke;
  margin-bottom: 10px;
} 

.col1 h3{
  color: whitesmoke;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

#showroom{
  margin: auto;
  max-width: 500px;
  max-height: 300px;
  position: static;
}

#showroom-text{
  margin-top: 10px;
  margin-right: 20px;
}


.field label {
  display:flex;
  flex-direction:column;
  text-align: left;
  margin-left: 20%;
  color: #fff;
}

.field input,option,select{
  display: flex;
  max-width: 700px;
  width: 70%;
  flex-direction: column;
  height:25px;  
  margin-bottom: 15px;
  margin-left:20%;
  padding: auto;
}

.field textarea{
  display: flex;
  resize: none;
  max-width: 700px;
  width: 70%;
  flex-direction: column;
  height :100px;
  margin-left:20%;
  margin-bottom: 15px;
  padding: auto;
}

#submit{
  display: flex;
  padding: auto;
  width: 50px;
}

@media (max-width: 800px) {
  .f {
    flex-direction: column;
  }
}

hr{
width:80%;
margin:0 auto;
}
.main {
  max-width: 1000px;
  margin: auto;
}

.prow h1 {
  font-size: 50px;
  word-break: break-all;
}

.prow {
  margin: 8px -16px;
}

.prow,
.prow > .pcolumn {
  padding: 8px;
}

.pcolumn {
  float: left;
  width: 50%;
  max-width: 100%;
}

.prow:after {
  content: "";
  display: table;
  clear: both;
}

.pcontent {
  background-color: white;
  padding: 10px;
}
.pcontent p{
  color:grey;
}

@media screen and (max-width: 900px) {
  .pcolumn,
  .col,.col1,
  .column,.container {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
